{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ with .Site.Params.about.title }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .Site.Params.about.content }}<p>{{ . | safeHTML }}</p>{{ end }}

                    <p>
                    Beyond the core works directly funded by Lorraine Université d'Excellence,
                    OLKi's scientific perimeter and environment extends to other closely related
                    initiatives <a href="https://olki.loria.fr/environment/environment">that are listed here</a>: we are working hand-in-hand with
                    them with a reciprocal and beneficial influence !
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <iframe allowfullscreen sandbox="allow-top-navigation allow-scripts" width="400" height="500" src="https://www.mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Fmastodon.online%2Fusers%2Fcerisara&theme=light&size=100&header=false&replies=false&boosts=false"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}
