{{ if .Site.Params.banner.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}
<section id="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}"); padding-top: 150px; padding-bottom: 50px; padding-left: 0px; padding-right: 0px;'>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    {{ "<!-- Slider -->" | safeHTML}}
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            {{ with .Site.Params.banner.heading }}<span>{{ . }}</span>{{ end }}
                            <br>
                            <span class="cd-words-wrapper">
                                {{ range $index, $element := .Site.Params.banner.flipText }}
                                    {{ if eq $index 0 }}
                                    <b class="is-visible">{{ .title }}</b>
                                    {{else}}
                                    <b>{{ .title }}</b>
                                    {{end}}
                                {{ end }}
                            </span>
                        </h1>
                    </section>
                    {{ with .Site.Params.banner.description }}<h2 class="wow fadeInUp animated" data-wow-delay=".6s">{{ . }}</h2>{{ end }}
                    {{ if .Site.Params.banner.btn }}                    
                    <table align="center"><tr>
                            <td>
                        <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right" data-wow-delay=".9s"
                            href="{{ .Site.Params.banner.btnURL }}" target="_blank">{{ .Site.Params.banner.btnText }}</a>
                          </td>
                          <td style="width: 90px">
                          </td>
                            <td>
                        <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right" data-wow-delay=".9s"
                            href="blog/whatisolki/" target="_blank">What is OLKi ?</a>
                          </td>
                        </tr>
                    </table>
                    {{ end }}
                    <br>
                    <br>
                    <br>
                    <a href='https://ind.ie/ethical-design'><img style='width: 180px; margin-left: auto; margin-right: auto;' alt='We practice Ethical Design' src='https://ind.ie/ethical-design/images/ethical-design-badge-small.svg'></a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}
