<p>
Credits go to:
<ul>
	<li>
		<a href="https://openclipart.org/detail/279915/barley">Barley</a> for the original logo (we have modified it)
	</li>
	<li>
		<a href="https://github.com/themefisher/timer-hugo">Timer-Hugo</a> for the theme
	</li>
</ul>
</p>
